image: node:18

stages:
  - install
  - lint
  - test
  - e2e
  - build
  - deploy

variables:
  npm_config_cache: "$CI_PROJECT_DIR/.npm"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm/
    - node_modules/
    - build/

install:
  stage: install
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules/

lint:
  stage: lint
  script:
    - npm run lint
  dependencies:
    - install

unit_tests:
  stage: test
  script:
    - npm run test
  dependencies:
    - install

e2e_tests:
  image: cypress/browsers:node18.6.0-chrome105-ff104
  stage: e2e
  services:
    - mysql:8.0
  variables:
    MYSQL_ROOT_PASSWORD: Razmazvach14@
    MYSQL_DATABASE: reserveit_db
    MYSQL_ROOT_HOST: '%'
  script:
    # Start dev server
    - npm run dev &
    # Wait for frontend to be ready
    - npx wait-on http://localhost:5200
    # Run Cypress tests
    - npm run test:e2e
  artifacts:
    when: always
    paths:
      - cypress/videos/**/*.mp4
      - cypress/screenshots/**/*.png
    expire_in: 1 week
  dependencies:
    - install

build:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - dist/
  dependencies:
    - install

deploy:
  stage: deploy
  script:
    - echo "Deploy to production server"
    # Add your deployment commands here
  only:
    - main
  dependencies:
    - build