image: node:18

stages:
  - install
  - lint
  - e2e
  - build
  - deploy

variables:
  npm_config_cache: "$CI_PROJECT_DIR/.npm"

cache:
  paths:
    - .npm/
    - node_modules/

install:
  stage: install
  script:
    - npm install
  artifacts:
    paths:
      - node_modules/

lint:
  stage: lint
  script:
    - npx eslint . --max-warnings=0
  dependencies:
    - install

e2e_tests:
  stage: e2e
  image: cypress/browsers:node18.6.0-chrome105-ff104
  script:
    - npm start & # Start the dev server in the background
    - npx wait-on http://localhost:5200 # Wait for the server to be ready
    - npx cypress run # Run E2E tests
  artifacts:
    when: always
    paths:
      - cypress/videos/
      - cypress/screenshots/
    expire_in: 1 week
  dependencies:
    - install

build:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - dist/
  dependencies:
    - install

deploy:
  stage: deploy
  script:
    - echo "Deploying to production..."
  only:
    - main
  dependencies:
    - build
