.my-reservations {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.my-reservations h2 {
    color: #6f42c1;
    font-size: 2rem;
    margin-bottom: 20px;
}

.my-reservations ul {
    list-style-type: none;
    padding: 0;
}

.my-reservations li {
    background-color: white;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.my-reservations li:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.my-reservations li span {
    display: block;
    font-weight: bold;
    color: #333;
}
