.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    position: relative;
    box-shadow: none;
    border-bottom: 1px solid #eee;
}


.menu-logo {
    display: flex;
    align-items: center;
}

/* Hamburger menu styling */
.hamburger-menu {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 8px 12px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-menu:hover {
    color: #6f42c1;
}

.hamburger-menu:focus {
    outline: none;
}

/* Logo styling */
.logo h1 {
    font-size: 1.6rem;
    color: #333;
    font-weight: bold;
    line-height: 60px;
}

/* Search Bar Container */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 50px;
    padding: 5px 15px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Search Icon */
.search-icon {
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

/* Search Input Field */
.search-bar input {
    border: none;
    background: none;
    padding: 10px 15px 10px 40px;
    width: 100%;
    font-size: 1rem;
    outline: none;
    border-radius: 50px;
    color: #5e5353;
}


.search-bar input:focus {
    background-color: transparent;
    box-shadow: none;
    color: black;
}

/* Placeholder color */
.search-bar input::placeholder {
    color: #5c5858;
}

/* Hover effect for the search bar */
.search-bar:hover {
    background-color: #ebebeb;
}


/* Account controls section */
.account-controls {
    display: flex;
    gap: 15px;
}

.login-button, .signup-button, .logout-button {
    padding: 8px 14px;
    font-size: 1rem;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.login-button:hover, .signup-button:hover, .logout-button:hover {
    background-color: #6f42c1;
    color: #ffffff;
    border-color: #6f42c1;
}
/* Header.css */
.demo-link {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.demo-link:hover {
    text-decoration: underline;
    color: #6f42c1; /* Example hover color */
}

