/* components/RestaurantSlider.css */
.restaurant-slider {
    padding: 20px;
    cursor: grab;
}
.restaurant-slider:active{
    cursor: grabbing;
}
/* Next and Prev Arrow Buttons */
.arrow-img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.arrow-img:hover {
    opacity: 0.7;
    cursor: pointer;
}
.next-arrow, .prev-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.next-arrow {
    right: -10px;
}

.prev-arrow {
    left: -20px;
}


