#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

body {
  background: #FFFFFF;
  color: #000000;
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Remove flex-wrap and let the slider control the layout */
.restaurant-list {
  padding: 20px;
  margin: 0 auto;
  max-width: 1280px;
}

/* Restaurant Card */
.restaurant-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.next-arrow, .prev-arrow {
  background-color: white;
  color: black;
  border: none;
  font-size: 2rem;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
}

.next-arrow {
  right: -30px;
}

.prev-arrow {
  left: -30px;
}

.next-arrow:hover, .prev-arrow:hover {
  background-color: #f0f0f0;
}
